TestInter/Service References/ServiceReference1/Start.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="DetailBrowser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XTID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FKEY" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DetailBrowserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DetailBrowserResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="info" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DetailBrowserSoapIn">
    <wsdl:part name="parameters" element="tns:DetailBrowser" />
  </wsdl:message>
  <wsdl:message name="DetailBrowserSoapOut">
    <wsdl:part name="parameters" element="tns:DetailBrowserResponse" />
  </wsdl:message>
  <wsdl:portType name="StartSoap">
    <wsdl:operation name="DetailBrowser">
      <wsdl:input message="tns:DetailBrowserSoapIn" />
      <wsdl:output message="tns:DetailBrowserSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StartSoap" type="tns:StartSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DetailBrowser">
      <soap:operation soapAction="http://tempuri.org/DetailBrowser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="StartSoap12" type="tns:StartSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DetailBrowser">
      <soap12:operation soapAction="http://tempuri.org/DetailBrowser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Start">
    <wsdl:port name="StartSoap" binding="tns:StartSoap">
      <soap:address location="http://localhost:8884/Start.asmx" />
    </wsdl:port>
    <wsdl:port name="StartSoap12" binding="tns:StartSoap12">
      <soap12:address location="http://localhost:8884/Start.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>