TestWeb/Web References/Edu/TPEduInfoTransfer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetECertInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XTID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SFZH" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="XM" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetECertInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetECertInfoResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OUTINFO" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendContinueEdu">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XTID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="JYXX" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendContinueEduResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendContinueEduResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DetailsBrower">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fkey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StrWebUrl" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DetailsBrowerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DetailsBrowerResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OUTINFO" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetECertInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetECertInfo" />
  </wsdl:message>
  <wsdl:message name="GetECertInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetECertInfoResponse" />
  </wsdl:message>
  <wsdl:message name="SendContinueEduSoapIn">
    <wsdl:part name="parameters" element="tns:SendContinueEdu" />
  </wsdl:message>
  <wsdl:message name="SendContinueEduSoapOut">
    <wsdl:part name="parameters" element="tns:SendContinueEduResponse" />
  </wsdl:message>
  <wsdl:message name="DetailsBrowerSoapIn">
    <wsdl:part name="parameters" element="tns:DetailsBrower" />
  </wsdl:message>
  <wsdl:message name="DetailsBrowerSoapOut">
    <wsdl:part name="parameters" element="tns:DetailsBrowerResponse" />
  </wsdl:message>
  <wsdl:portType name="TPEduInfoTransferSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetECertInfo">
      <wsdl:input message="tns:GetECertInfoSoapIn" />
      <wsdl:output message="tns:GetECertInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendContinueEdu">
      <wsdl:input message="tns:SendContinueEduSoapIn" />
      <wsdl:output message="tns:SendContinueEduSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DetailsBrower">
      <wsdl:input message="tns:DetailsBrowerSoapIn" />
      <wsdl:output message="tns:DetailsBrowerSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TPEduInfoTransferSoap" type="tns:TPEduInfoTransferSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetECertInfo">
      <soap:operation soapAction="http://tempuri.org/GetECertInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendContinueEdu">
      <soap:operation soapAction="http://tempuri.org/SendContinueEdu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DetailsBrower">
      <soap:operation soapAction="http://tempuri.org/DetailsBrower" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TPEduInfoTransferSoap12" type="tns:TPEduInfoTransferSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetECertInfo">
      <soap12:operation soapAction="http://tempuri.org/GetECertInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendContinueEdu">
      <soap12:operation soapAction="http://tempuri.org/SendContinueEdu" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DetailsBrower">
      <soap12:operation soapAction="http://tempuri.org/DetailsBrower" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TPEduInfoTransfer">
    <wsdl:port name="TPEduInfoTransferSoap" binding="tns:TPEduInfoTransferSoap">
      <soap:address location="http://218.95.230.197:100/YzserviceJxjy/ClientService/TPEduInfoTransfer.asmx" />
    </wsdl:port>
    <wsdl:port name="TPEduInfoTransferSoap12" binding="tns:TPEduInfoTransferSoap12">
      <soap12:address location="http://218.95.230.197:100/YzserviceJxjy/ClientService/TPEduInfoTransfer.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>